<h4 style="float:right;"></h4>
  Username: {{ player.user.username }}<br>
  Total Points: {{ player.points }}<br>
<button><a href="/accounts/logout/">Logout</a></button>

<label>Question: {{ question.name }}</label>
{% load static %}
<h4>Primary Image</h4>
<img src="{% static 'squadesp/tasks/' %}{{ task.task_id }}/{{ question.primary }}.png" label="Primary Image"/>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="q_no" value="{{ q_no }}">
  <label>
    Select a secondary image
  </label>
  <select name="answer">
    {% for option in question.secondary %}
      <option>{{  forloop.counter }}</option>
    {% endfor %}
  </select>
  <button type="submit">Submit</button>
</form>

<div>
  <h4>Secondary Images</h4>
  {% for option in question.secondary %}
    {{ forloop.counter }}
    <img src="{% static 'squadesp/tasks/' %}{{ task.task_id }}/{{ option }}.png" height="100" width="100">
  {% endfor %}
</div>
