<div style="float:right;">
  <h4>Profile</h4>
  Username: {{ player.user_id.username }} <br>
  Total Points: {{ player.points }} <br>
  <a href="/accounts/logout/">
    <button>
      Logout
    </button>
  </a>
</div>
<h1> Dashboard </h1>
{% if messages %}
    <label>Messages</label>
    {% for message in messages %}
        <div class="row">
            <div class="col-sm-8">
        {% if message.tags == "error" %}
            Error:
        {% else %}
            Success:
        {% endif %}
            <span>{{message}}</span>
      </div>
{% endfor %}
{% endif %}
<br>
<br>

<h4>Tasks Available</h4>
<table>
  <thead>
    <tr>
      <th>
        Sr. No.
      </th>
      <th>
        Task
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    {% for task in game_tasks_left %}
    <tr>
      <td>
        {{ forloop.counter }}
      </td>
      <td>
        {{ task.name }}
      </td>
      <td>
        <a href="/game/play/{{ task.task_id }}/" >
          <button>
            Play
          </button>
        </a>
      </td>
    <tr>
    {% endfor %}
  </tbody>
</table>
<br>
<br>
<br>
<h4>Tasks Completed</h4>
<table>
  <thead>
    <tr>
      <th>
        Sr. No.
      </th>
      <th>
        Task
      </th>
    </tr>
  </thead>
  <tbody>
    {% for task in player_tasks %}
    <tr>
      <td>
        {{ forloop.counter }}
      </td>
      <td>
        {{ task.task.name }}
      </td>
    <tr>
    {% endfor %}
  </tbody>
</table>
